body
{
    background-color: #8080A8;
    background-image: url(backgroundpattern.jpg);
    background-repeat:repeat;
}
h2
{
  font-family:arial;
  font-size:70;
}
p
{
    color:#0000A0;
    background-color:#A0A0FF;
    font-family:garamond;
    font-size:18;
}

p.myhover
{
  color:#FFFF40;
  background-color:#4040FF;
}
p.myhover:hover
{
  color:#4040FF;
  background-color:#FFFF40;
}
